BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
#AlignConsecutiveAssignments: true
ColumnLimit: 0
AlignTrailingComments: true
PointerAlignment: Left

