*.o
*.obj
*.dll
*.swp
*.lib
*.exp
*.exe
*.pyd
/*.ipynb
Info.plist
*.so
*.pyc
*.pdf
*.bin
*.dSYM
nbody
.DS_Store
error.txt
tests/testall.html
tests/*/*.txt
tests/*/*.png
tests/*/nbody*
tests/*/rebound*
examples/*/rebound*
doc/html/*
doc/latex/*
doc/Doxyfile
others/mercury6
others/mercury6.tar
others/*/
MANIFEST
rebound.egg-info
venv/
dist/
build/
src/rebound
src/*.wasm
src/*.js
src/*.html
.ipynb_checkpoints
ipython_examples/*.png
others/*.tar.gz
others/*.tar
docs/c_examples/*.md
problems/
.vscode/
*.pete
examples/solar_system_tes
rebound.html
_codeql_detected_source_root
