*.o
*.so
*.pyc
*.pdf
*.bin
nbody
.DS_Store
error.txt
tests/testall.html
tests/*/*.txt
tests/*/*.png
tests/*/nbody*
tests/*/rebound*
examples/*/rebound*
doc/html/*
doc/latex/*
doc/Doxyfile
others/mercury6
others/mercury6.tar
others/*/
MANIFEST
rebound.egg-info
venv/
dist/
build/
src/rebound
.ipynb_checkpoints
others/*.tar.gz
others/*.tar
doc/doxygen/xml/
doc/_build/
doc/c_examples.rst
doc/doxygen/html/
doc/ipython
doc/search.json
problems/
examples/planetesimals_Kirsh/output/*
examples/planetesimals_Kirsh/saved_output/*
examples/planetesimals_Kirsh/xyz_outputs/*
examples/planetesimals_Kirsh/energy_avg/*
examples/planetesimals_dt_dE/saved_output/*
examples/planetesimals_dt_dE/output/*
examples/planetesimals_dt_dE/xyz_outputs/*
