*.o
*.bin
nbody
gravity.c
boundaries.c
integrator.c
collisions.c
src/problem.c
.DS_Store
error.txt
tests/testall.html
tests/*/*.txt
tests/*/*.png
tests/*/nbody*
doc/html/*
doc/latex/*
doc/Doxyfile
others/mercury6
others/mercury6.tar
